.niq-button__text {
  font-family: "Myriad Pro Regular";
  font-size: 2rem;
  margin-bottom: -4px;
  margin-right: 10px;
}

.niq-constituency-region {
  font-family: "Myriad Pro Regular";
}

.niq-constituency__section {
  padding: 20px 40px;
  margin-bottom: 20px;
}

.niq-constituency__section-title {
  background: #F5F5F5;
  border-bottom: 1px solid #DDD;
  color: #666;
  font-family: "Myriad Pro Regular";
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 20px 0 20px;
  position: sticky;
  top: 0; 
}

.niq-constituency__section-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}

.niq-chart {
  font-size: 1.4rem;
  min-width: calc(100% / 5);
}

.niq-chart-header {
  border-bottom: 1px solid #CCC;
  color: #666;
  display: flex;
}

.niq-chart-row {
  border-bottom: 1px solid #DDD;
  display: flex;
}

.niq-chart-row:last-child {
  border-bottom: 0;
}

.niq-chart-header-title,
.niq-chart-column {
  padding: 10px;
}

.niq-chart-header-title:nth-child(1),
.niq-chart-column:nth-child(1) {
  box-sizing: border-box;
  border-right: 1px solid #CCC;
  width: 50%;
}

.niq-chart-column:nth-child(2) {
  font-weight: bold;
} 

.niq-constituency__history {
  background-color: #EEE;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  width: calc((100% / 5) - 20px);
}

.niq-constituency__history-title {
  color: #999;
  display: flex;
  font-family: "Myriad Pro Regular";
  font-size: 2rem;
  justify-content: flex-end;
  padding: 10px;
}

.niq-constituency-details {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.niq-constituency-details-outcome {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.niq-constituency-details-prediction {
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .niq-constituency__wrapper {
    padding: 0;
  }
  
  .niq-constituency__history {
    width: calc((100% / 3) - 20px);
  }
}

@media only screen and (max-width: 600px) {
  .niq-constituency__wrapper {
    padding: 0;
  }

  .niq-constituency__title {
    font-size: 1.6rem;
  }
  
  .niq-constituency__section {
    padding: 20px;
  }

  .niq-constituency__section:first-child .niq-constituency__section-content {
    margin-right: 0;
  }

  .niq-constituency__history {
    width: 100%;
  }
}