.niq-headline {
  background: #333;
  border-bottom: 1px solid #FFF;
  box-sizing: border-box;
  display: flex;
  height: 70px;
  width: 100%;
}

.niq-headline__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 10px;
}

.niq-headline__item:hover {
  background: #444;
  color: #F5F5F5;
  border-radius: 2px;
}

.niq-headline__item--selected,
.niq-headline__item--selected:hover {
  background: #333;
}


.niq-headline__item-title {
  font-size: 3rem;
  margin-right: 10px;
}

.niq-headline__item-value {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 10px;
}

.niq-headline__item-change {
  font-size: 2rem;
}

.niq-results {
  background: #F5F5F5;
  box-sizing: border-box;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 50px - 70px);
  margin: 0;
}

.niq-results__container {
  border-left: 1px solid #DDD;
  display: flex;
  flex: 1;
  height: 100%;
  margin-left: 40px;
  overflow-y: scroll;
}

.niq-result__item {
  align-items: center;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
  width: calc(100% / 3);
}

.niq-result__item:hover {
  background: #FFF;
}

.niq-result__change {
  align-items: center;
  display: inline-flex;
  min-width: 120px;
}

.niq-result__name {
  padding-right: 20px;
  font-size: 1.4rem;
}

.niq-tag {
  display: inline-flex;
  font-weight: bold;
  padding: 5px;
  width: auto;
}

.niq-tag-hold {
  width: auto;
  margin: 0 !important;
}

.niq-tag:first-child {
  margin-right: 5px;
}

.niq-tag:last-child {
  margin-left: 5px;
}