.niq-predictions {
  background-color: #F5F5F5; 
  border-bottom: 1px solid #DDD;
  display: flex;
  height: 60px;
  position: fixed;
  top: -10px;
  transition: top 0.2s ease-out;
  width: 100%;
  z-index: 900;

  &--visible {
    top: 50px;
  }

  &__button {
    align-items: center;
    display: flex;
    padding: 20px;

    button {
      background-color: #2185d0;
      border-radius: 2px;
      color: #F5F5F5;
      border: 0;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 8px 20px;
    }
  }

  &__input {
    align-items: center;
    border-right: 1px solid #DDD;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 15px;

    input {
      background-color: transparent;
      border: 0;
      color: #222;
      font-size: 1.4rem;
      padding: 4px 2px;
      width: 40px;
    }

    &-label {
      border-radius: 3px;
      font-size: 1.4rem;
      font-weight: bold;
      margin-right: 10px;
      padding: 2px 4px;
    }

    &-wrapper {
      background-color: #EEE;
      border: 1px solid #CCC;
      border-radius: 2px;
      color: #333;
      padding: 8px;
    }
  }
}
