.niq-header-container {
  background: #F5F5F5;
  border-bottom: 1px solid #CCC;
  box-sizing: border-box;
  color: #333;
  display: flex;
  font-family: "Myriad Pro Regular", Helvetica;
  font-size: 2rem;
  height: 65px;
  justify-content: center;
  padding: 20px;
}

.niq-header-title-primary {
  letter-spacing: 0.4rem;
}

.niq-header-title-secondary {
  border-left: 1px solid #CCC;
  color: #666;
  margin-left: 10px;
  padding-left: 10px;
}