$con: #0087DC;
$lab: #DC241f;
$lib: #FAA61A;
$bxp: #12B6CF;
$grn: #008142;
$plc: #008142;
$snp: #FDF38E;
$dup: #D46A4C;
$all: #F6CB2F;
$sf: #326760;
$uup: #48A5EE;
$sdlp: #3A9E84;

$con-contrast: #F5F5F5;
$lab-contrast: #F5F5F5;
$lib-contrast: #666;
$bxp-contrast: #F5F5F5;
$grn-contrast: #F5F5F5;
$plc-contrast: #F5F5F5;
$snp-contrast: #666;
$dup-contrast: #F5F5F5;
$all-contrast: #666;
$sf-contrast: #F5F5F5;
$uup-contrast: #F5F5F5;
$sdlp-contrast: #F5F5F5;
